# Spring properties
spring:
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: "org.hibernate.dialect.MySQL5InnoDBDialect"
    show-sql: true
  profiles:
    active: db
