# Spring properties
spring:
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
        dialect: "org.hibernate.dialect.MySQL5InnoDBDialect"
    show-sql: true
  profiles:
    active: db, auth, test
  mvc:
    contentnegotiation:
      favor-parameter: true
      favor-path-extension: true
      media-types:
        xls: application/vnd.ms-excel
  application:
    name: fick

server:
  port: 8081
